.about{
    margin-top: 100px;
    &__title{
        text-align: center;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 4px;
        line-height: 25px;
    }
    &__subtitle {
        margin: 0;
        & p{
            font-family: 'Caveat', cursive;
            font-size: 16px;
            text-align: center;
            margin: 50px 0 0 0;
        }
    }
    &__text{
        text-align: justify;
        font-size: 14px;
        font-weight: 300;
        margin-right: 70px;
        letter-spacing: 1px;
    }
    &__wrapper1{
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .hr {
            width: 50px;
        }}
    &__wrapper2{
        height: 450px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    } 
}





