
.team {
  margin-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(207, 207, 207, .1);
}
.container {
    &__wrapper {
        padding-top: 100px;
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .hr {
            width: 50px;
    }
}}
    .trainers {
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
    }

    .card {
        width: 270px;
        min-height: 350px;
        border: none;
        cursor: pointer;
        &__wrapper {
          background-color:  rgba(207, 207, 207, .1);
          width: 270px;
          height: 40px;
          color: black;
          & h2 {
            font-size: 18px;
            font-weight: 100;
            color: black;
            letter-spacing: 2px;
            line-height: 40px;
            text-align: center;
          }
        }
      }

      
     
      .back-title {
          color: black;
          font-size: 22px;
          font-weight: 300;
          letter-spacing: 2px;
          line-height: 40px;
          text-align: center;
      }
      
      h4 {
        padding-top: 10px;
        padding-bottom: 30px;
        text-align: center;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 1px;
      }

      .back-descr {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 2px;
        line-height: 24px;
        text-align: left;
      }
      
      .modal {
        display: none;
        z-index: 1;
        overflow: auto;
        background-color: rgba(0, 0, 0,0.8); 
        }

        .modal-content {
          margin: 15%, auto;
          padding: 30px;
          width: 70%;
          height: 60%;
          position: fixed;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 25%;
        }

      .close {
        position: relative;
        left: 95%;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
      }
  

      .nodisplay {
        display: none;
      }

            